// vertical align an element
.vertical-align(@position: relative) {
  position: @position;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
