.box-size() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.content-box() {
  -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: content-box;    /* Firefox, other Gecko */
          box-sizing: content-box;
}
