@import "mixins/transitions";

.button-default-styles() {
  text-align: center;
  font-size: 18px;
  font-weight: @font-weight-normal;
  margin: 0;
  border: 0 none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  &:hover {
    cursor: pointer;
  }
}

.dynamic-width-button() {
  // .button-default-styles();
  padding: 17px 34px;
  display: inline-block;
  // @media @laptop {
  //   font-size: 16px;
  // }
  // @media @mobile {
  //   font-size: 14px;
  // }
}

.solid-button(@color, @bg-color, @hvr-color) {
  .button-default-styles();
  color: @color;
  background-color: @bg-color;
  transition: background-color 0.1s ease;
  &:visited {
    color: @color;
  }
  &:hover {
    background-color: @hvr-color;
  }
  &:disabled {
    opacity: 0.5;
  }
}

.ghost-button(@color, @bg-color, @hvr-color) {
  .button-default-styles();
  .ease-all();
  color: @color;
  background-color: @bg-color;
  border: solid 1px @color;
  &:visited {
    color: @color;
  }
  &:hover {
    cursor: pointer;
    color: @bg-color;
    background-color: @color;
    border-color: @color;
  }
}

.phantom-button(@color) {
  font-size: 16px;
  color: @color;
  background: inherit;
  border: 0 none;
  border-radius: 0;
  font-weight: @font-weight-bold;
  text-align: center;
  text-decoration: underline;
  text-transform: none;
  &:hover {
    cursor: pointer;
  }
}
