// 1 column layout (100%)
.panel-100() {
  .make-col-span(12);
  max-width: 100%;
}

// 2 column layout
.panel-50() {
  .make-col-span(6);
  .flexbox();
  max-width: 50%;
}

// 3 column layout
.panel-33() {
  .make-col-span(4);
  max-width: 33.33%;
}

// 4 column layout standard
.panel-25() {
  .make-col-span(3);
  max-width: 25%;
}

// 5 column layout
.panel-20() {
  .make-col-span(2.4);
  max-width: 20%;
}
