/*===CssFileBegin===*/
/*CssFileName:bootstrap.css*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active {
  outline: 0;
}
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 1rem;
  color: #515458;
  line-height: 1.6rem;
}
html,
body {
  height: 100% !important;
}
@media only screen and (max-width: 767px) {
  body::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    background-color: transparent;
  }
  body::-webkit-scrollbar-thumb {
    display: none;
    width: 0 !important;
    background-color: transparent;
  }
  body::-webkit-scrollbar-track {
    display: none;
    width: 0 !important;
    background-color: transparent;
  }
  body::-webkit-scrollbar-track-piece {
    display: none;
    width: 0 !important;
    background-color: transparent;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: none;
}
h1 h1 > p,
h2 h1 > p,
h3 h1 > p,
h4 h1 > p,
h5 h1 > p,
h6 h1 > p,
h1 h2 > p,
h2 h2 > p,
h3 h2 > p,
h4 h2 > p,
h5 h2 > p,
h6 h2 > p,
h1 h3 > p,
h2 h3 > p,
h3 h3 > p,
h4 h3 > p,
h5 h3 > p,
h6 h3 > p,
h1 h4 > p,
h2 h4 > p,
h3 h4 > p,
h4 h4 > p,
h5 h4 > p,
h6 h4 > p,
h1 h5 > p,
h2 h5 > p,
h3 h5 > p,
h4 h5 > p,
h5 h5 > p,
h6 h5 > p,
h1 h6 > p,
h2 h6 > p,
h3 h6 > p,
h4 h6 > p,
h5 h6 > p,
h6 h6 > p {
  margin: 0;
  text-transform: none;
}
ul {
  margin-bottom: 1.875rem;
  list-style-type: square;
}
li {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300;
  text-transform: none;
  margin-bottom: 0.9375rem;
}
li > ul {
  margin-top: 1.875rem;
}
p > a {
  text-decoration: none;
  color: #004B87;
  font-weight: inherit;
}
p.disclaimer {
  font-size: 14px;
  padding-top: 10px;
}
p.disclaimer .mi {
  margin-right: 4px;
  font-size: 10px;
}
.mi {
  position: relative;
  top: 1px;
  font-size: inherit;
}
button {
  overflow: hidden;
  white-space: normal;
}
button,
input[type="button"] {
  border-radius: 0;
}
.container,
.container-fluid {
  margin: 0 auto;
  padding: 0;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 0 0 100%;
}
.column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
.grid-container {
  display: -ms-grid;
  display: grid;
}
@media (max-width: 4000px) {
  .container {
    max-width: 4000px;
  }
}
@media (max-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}
.applications {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
}
.application {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  width: 190px;
  height: 167px;
  background-color: #d7d7d7;
  border-radius: 35px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 30px 10px;
  overflow: hidden;
}
.application:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 768px) {
  .application {
    width: 160px;
    height: 141px;
    padding: 25px 10px 12.5px 10px;
  }
}
.application__icon {
  display: block;
  width: 72px;
  height: 64px;
}
@media only screen and (max-width: 768px) {
  .application__icon {
    width: 61px;
    height: 54px;
  }
}
.application__name {
  color: #004B87;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.125em;
}
.button {
  padding: 17px 34px;
  display: inline-block;
}
.button--default {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  border: 0 none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  color: #FFFFFF;
  background-color: #004B87;
  transition: background-color 0.1s ease;
}
.button--default:hover {
  cursor: pointer;
}
.button--default:visited {
  color: #FFFFFF;
}
.button--default:hover {
  background-color: #71C5E8;
}
.button--default:disabled {
  opacity: 0.5;
}
.button--alt {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  border: 0 none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  color: #004B87;
  background-color: #FFFFFF;
  border: solid 1px #004B87;
  padding: 16px 32px;
}
.button--alt:hover {
  cursor: pointer;
}
.button--alt:visited {
  color: #004B87;
}
.button--alt:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #004B87;
  border-color: #004B87;
}
.form.personal-information__form {
  width: 100%;
}
.form.change-password__form {
  width: 450px;
}
@media only screen and (max-width: 768px) {
  .form.change-password__form {
    width: 100%;
  }
}
.form__element {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form__element label {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  float: left;
  display: inline;
}
@media only screen and (max-width: 768px) {
  .form__element label {
    font-size: 13px;
  }
}
.form__element input {
  border: 1px solid #888B8D;
  border-radius: 0;
  background-color: #FFFFFF;
  font-size: 11px;
  padding: 10px 5px;
  width: 220px;
  display: inline;
  float: right;
}
@media only screen and (max-width: 500px) {
  .change-password__form .form__element input {
    width: 160px;
  }
}
.user-profile__element input,
.user-profile__element select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #888B8D;
  border-radius: 0;
  background-color: #FFFFFF;
  font-size: 16px;
  padding: 15px 10px;
  width: 100%;
}
.user-profile__element input[type="checkbox"] {
  padding: unset;
  width: unset;
}
.user-profile__element input[type="submit"].button--default {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  border: 0 none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  color: #FFFFFF;
  background-color: #004B87;
  transition: background-color 0.1s ease;
}
.user-profile__element input[type="submit"].button--default:hover {
  cursor: pointer;
}
.user-profile__element input[type="submit"].button--default:visited {
  color: #FFFFFF;
}
.user-profile__element input[type="submit"].button--default:hover {
  background-color: #71C5E8;
}
.user-profile__element input[type="submit"].button--default:disabled {
  opacity: 0.5;
}
.header {
  zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  background-color: #004B87;
  padding: 10px;
  position: relative;
}
.header:before,
.header:after {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header__logo {
  height: 23px;
  width: auto;
  display: block;
}
.header-section:first-child {
  flex: 0 0 58.33333333%;
}
@media only screen and (max-width: 1366px) {
  .header-section:first-child {
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 768px) {
  .header-section:first-child {
    flex: 0 0 33.33333333%;
  }
}
@media only screen and (max-width: 500px) {
  .header-section:first-child {
    flex: 0 0 auto;
  }
}
.header-section:last-child {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 0 0 41.66666667%;
}
@media only screen and (max-width: 1366px) {
  .header-section:last-child {
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 768px) {
  .header-section:last-child {
    flex: 0 0 66.66666667%;
  }
}
@media only screen and (max-width: 500px) {
  .header-section:last-child {
    flex: 1 1 auto;
  }
}
.searchbar {
  background-color: #FFFFFF;
  height: 35px;
}
@media only screen and (max-width: 500px) {
  .searchbar {
    width: 167px;
    height: 30px;
  }
}
@media only screen and (max-width: 370px) {
  .searchbar {
    width: 130px;
  }
}
.searchbar .search-icon {
  padding-left: 6px;
  width: 20px;
  color: #888B8D;
  font-size: 18px;
  position: relative;
  top: 3px;
  z-index: 3;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 500px) {
  .searchbar .search-icon {
    width: 20px;
    font-size: 13px;
    top: 1.5px;
  }
}
@media only screen and (max-width: 370px) {
  .searchbar .search-icon {
    width: 15px;
    padding-left: 3px;
  }
}
.searchbar input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  width: 300px;
  height: 35px;
}
@media only screen and (max-width: 1366px) {
  .searchbar input {
    width: 260px;
  }
}
@media only screen and (max-width: 500px) {
  .searchbar input {
    width: 137px;
    height: 30px;
  }
}
@media only screen and (max-width: 370px) {
  .searchbar input {
    width: 108px;
  }
}
.row.user {
  flex: 1 0 41.66666667%;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  color: #FFFFFF;
}
@media only screen and (max-width: 500px) {
  .row.user {
    flex: 1 0 auto;
  }
}
.row.user .user__icon {
  font-size: 24px;
  margin-right: 15px;
}
@media only screen and (max-width: 500px) {
  .row.user .user__icon {
    font-size: 18px;
    margin-right: 6px;
  }
}
.row.user .user__icon:hover {
  cursor: pointer;
}
.row.user .user__info {
  margin-right: 15px;
}
@media only screen and (max-width: 500px) {
  .row.user .user__info {
    display: none;
  }
}
.row.user .username {
  display: block;
}
.row.user .usertype {
  display: block;
  font-size: 14px;
}
.row.user .menu-toggle {
  font-size: 30px;
}
@media only screen and (max-width: 500px) {
  .row.user .menu-toggle {
    font-size: 18px;
  }
}
.row.user .menu-toggle:hover {
  cursor: pointer;
}
.user__menu {
  display: none;
  position: absolute;
  top: 49px;
  right: 0;
  background-color: #004B87;
  list-style-type: none;
  padding: 25px 20px 15px 20px;
  width: 150px;
  z-index: 10000;
  margin-bottom: 0;
  text-align: right;
}
@media only screen and (max-width: 500px) {
  .user__menu {
    top: 43px;
  }
}
.user__menu li a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}
.user__menu li a:hover {
  cursor: pointer;
  color: #FFFFFF;
  text-decoration: underline;
}
.user__menu li a:visited {
  color: #FFFFFF;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  width: auto;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  transform: translate(0, 25%);
}
@media only screen and (max-width: 500px) {
  .modal.in .modal-dialog {
    transform: translate(0, 0);
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  margin: 10px;
  width: 450px;
}
.modal-content {
  position: relative;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 1px solid #888B8D;
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 35px;
  outline: 0;
}
.modal-content.modal-content--tall {
  padding: 65px 35px;
}
@media only screen and (max-width: 500px) {
  .modal-content.modal-content--tall {
    padding: 50px 25px;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.in {
  opacity: 0.5;
}
.modal-header {
  font-weight: 600;
  margin-bottom: 25px;
  border-bottom: 0 none;
  zoom: 1;
  text-align: center;
}
.modal-header:before,
.modal-header:after {
  content: " ";
  display: table;
}
.modal-header:after {
  clear: both;
}
.modal-title {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.modal-body {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 25px;
}
.modal-body.left-align {
  text-align: left;
}
.modal-body.center-align {
  text-align: center;
}
.modal-body.modal-body-sm {
  width: 250px;
}
.modal-body input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #888B8D;
  border-radius: 0;
  background-color: #FFFFFF;
  font-size: 16px;
  padding: 15px 10px;
  width: 190px;
  margin: 0 auto;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.modal-footer .button {
  display: block;
}
.modal-footer .button--default {
  display: block;
  width: 243px;
  height: 52px;
  font-weight: 600;
  font-size: 18px;
  padding: 0;
}
.modal-footer .button--default:hover {
  background-color: #B0008E;
}
@media only screen and (max-width: 500px) {
  .modal-footer .button--default {
    width: 100%;
  }
}
.modal-footer .button--alt {
  display: block;
  width: 243px;
  height: 36px;
  font-size: 13px;
  padding: 0;
}
.modal-footer .button--alt:hover {
  background-color: #B0008E;
}
@media only screen and (max-width: 500px) {
  .modal-footer .button--alt {
    width: 100%;
  }
}
.modal-footer .button + .button {
  margin-top: 12px;
}
@media only screen and (max-width: 768px) {
  .modal-footer .button.button--default,
  .modal-footer .button.button--alt {
    padding: 0 0;
  }
  .modal-footer .button--default {
    font-size: 18px;
  }
  .modal-footer .button--alt {
    font-size: 13px;
  }
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media only screen and (max-width: 4000px) {
  .modal-dialog {
    width: 450px;
    margin: 30px auto;
  }
}
@media only screen and (max-width: 500px) {
  .modal-dialog {
    max-width: 95%;
    width: auto;
  }
}
.panel--50 {
  flex: 0 0 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 50%;
}
.screen {
  zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  padding: 80px 40px;
  color: #515458;
  background-color: #F6F6F6;
}
.screen:before,
.screen:after {
  content: " ";
  display: table;
}
.screen:after {
  clear: both;
}
@media only screen and (max-width: 768px) {
  .screen {
    padding: 18px 18px;
  }
}
.screen__header {
  font-size: 18px;
  font-weight: 600;
  text-transform: none;
}
.spacer--50 {
  background-color: inherit;
  margin: 0 auto;
  width: 100%;
  display: block;
  position: relative;
  height: 50px;
}
.spacer--30 {
  background-color: inherit;
  margin: 0 auto;
  width: 100%;
  display: block;
  position: relative;
  height: 30px;
}
.spacer--20 {
  background-color: inherit;
  margin: 0 auto;
  width: 100%;
  display: block;
  position: relative;
  height: 20px;
}
table {
  max-width: 900px;
  width: 100%;
  min-height: 0.01%;
  overflow-x: auto;
}
thead,
tbody {
  width: 100% !important;
  margin: auto;
}
thead {
  background-color: #B1B3B3;
}
th,
td {
  font-size: 13px;
  line-height: 1.125rem;
  border: 1px solid #515458;
  text-align: left;
  vertical-align: middle;
}
@media only screen and (max-width: 1366px) {
  th,
  td {
    white-space: nowrap;
  }
}
td {
  background-color: #FFFFFF;
}
td > a {
  color: #004B87;
  text-decoration: none;
}
th {
  background-color: #d7d7d7;
}
.user-profile__table {
  margin-bottom: 38px;
}
@media only screen and (max-width: 376px) {
  .user-profile__table {
    display: block;
  }
}
.user-profile__table th {
  padding: 8px 16px;
}
@media only screen and (max-width: 768px) {
  .user-profile__table th {
    padding: 8px 8px;
  }
}
.user-profile__table td {
  padding: 5px 16px;
}
@media only screen and (max-width: 768px) {
  .user-profile__table td {
    font-size: 12px;
    padding: 5px 8px;
  }
}
.admin .admin__header {
  font-size: 1.125rem;
  margin-bottom: 16px;
}
.admin th,
.admin td {
  padding: 20px 16px;
}
.group .header-row {
  max-width: 900px;
  width: 100%;
  margin-bottom: 18px;
}
@media only screen and (max-width: 768px) {
  .group .button.button--default {
    font-size: 14px;
    padding: 12.5px 19px;
  }
}
.group .user-profile__table {
  max-width: 900px;
}
.help .faqs {
  margin-top: 20px;
}
.help .faq {
  max-width: 900px;
  width: 100%;
  margin-bottom: 5px;
}
.help .faq__question {
  color: #004B87;
  font-size: 14px;
  font-weight: 400;
}
.help .faq__question:hover {
  cursor: pointer;
}
.help .faq__question .mi {
  font-size: 8px;
  margin-right: 4px;
  top: -0.7px;
}
.help .faq__answer {
  color: #515458;
  font-size: 13px;
  font-weight: 400;
}
.help .faq__answer p {
  line-height: normal;
}
.help .faq__answer p + p {
  margin-top: 15px;
}
.user-profile__row {
  flex: 0 0 100%;
  max-width: 100%;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .user-profile__row {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .user-profile__row .panel--50 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.user-verification {
  margin-left: 100px;
}
@media only screen and (max-width: 768px) {
  .user-verification {
    margin-left: 0;
    width: 100%;
  }
}
.another-users-profile {
  max-width: 684px;
  width: 100%;
}
.user-profile__header {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 12px;
}
.user-profile__header span.main {
  display: block;
  font-size: 1.125rem;
}
.user-profile__header span.secondary {
  display: block;
  font-size: 12px;
  font-weight: 400;
}
.header-row {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 18px;
}
.item-row {
  flex: 0 0 100%;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .item-row {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .button.button--default,
  .button.button--alt,
  .button.button--phantom {
    font-size: 14px;
    padding: 12.5px 19px;
  }
}
.user-profile__table {
  max-width: 684px;
  width: 100%;
}
.user-profile__element {
  flex: 0 0 45.83333333%;
  max-width: 45.83333333%;
  font-size: 16px;
  margin-bottom: 26px;
}
@media only screen and (max-width: 768px) {
  .user-profile__element {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 14px;
  }
}
.user-profile__element .key {
  font-weight: 600;
  text-transform: uppercase;
}
.user-profile__element .value {
  display: block;
  font-weight: 400;
  text-transform: none;
}
.user-profile__element .checkbox {
  margin-top: 10px;
}
.user-profile__element .checkbox input,
.user-profile__element .checkbox label {
  display: inline;
}
.user-profile__element .checkbox label {
  font-size: 11px;
}
.change-password ul {
  list-style-type: disc;
}
.change-password li {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.list-header {
  font-size: 14px;
  margin-bottom: 15px;
}
.extra-verification {
  margin-top: 55px;
  width: 450px;
}
@media only screen and (max-width: 768px) {
  .extra-verification {
    width: 100%;
  }
}
.verification__row {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #515458;
}
.verification__row:last-child {
  border-bottom: 0 none;
}
.verification__row .button {
  width: 100px;
  padding-left: unset;
  padding-right: unset;
}
@media only screen and (max-width: 768px) {
  .verification__row .button {
    width: 70px;
  }
}
.button__row {
  margin-top: 45px;
}
.button__row .user-profile__element .button {
  width: 200px;
}
.button__row .user-profile__element .button--phantom {
  font-size: 16px;
  color: #004B87;
  background: inherit;
  border: 0 none;
  border-radius: 0;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-transform: none;
}
.button__row .user-profile__element .button--phantom:hover {
  cursor: pointer;
}
.cancel-edits {
  color: #004B87;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}
.modal-header__logo {
  height: 35px;
  margin-bottom: 30px;
  width: auto;
}
.modal-header__icon {
  margin-bottom: 15px;
  position: relative;
}
.modal-header__icon span.sms {
  font-size: 12px;
  position: absolute;
  left: 178px;
  top: 26px;
  color: #B9D9EB;
  z-index: 2;
}
.modal-header__icon span.mi {
  font-size: 40px;
  border: 3px solid #B1B3B3;
  border-radius: 50%;
  padding: 15px;
  color: #004B87;
  background-color: #B9D9EB;
}
.tel {
  width: 350px;
}
@media only screen and (max-width: 500px) {
  .tel {
    width: 250px;
  }
}
.tel label {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  display: block;
  width: 100%;
  text-align: left;
}
.tel input[type="tel"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0;
  border: 1px solid #888B8D;
  border-radius: 0;
  background-color: #FFFFFF;
  font-size: 11px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 5px;
  padding-left: 35px;
  width: 200px;
}
@media only screen and (max-width: 500px) {
  .tel input[type="tel"] {
    width: 250px;
    display: block;
  }
}
.tel .button.button--default {
  padding: 0;
  height: 40px;
  width: 140px;
  display: inline-block;
  float: right;
}
@media only screen and (max-width: 500px) {
  .tel .button.button--default {
    width: 100%;
    float: clear;
    display: block;
    margin-top: 25px;
    height: 52px;
  }
}
.modal-body h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.modal-body__dropdown {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #888B8D;
  border-radius: 0;
  background-color: #FFFFFF;
  font-size: 14px;
  padding: 9px 5px;
  width: 350px;
}
@media only screen and (max-width: 500px) {
  .modal-body__dropdown {
    width: 250px;
  }
}
.tel__dropdown {
  position: relative;
  display: inline-block;
  float: left;
}
.tel__country-code {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;
  width: 30px;
  background-color: #F6F6F6;
  border: 1px solid #888B8D;
}
.tel__country-code span {
  font-size: 12px;
  color: #888B8D;
  position: relative;
  top: 4px;
}
.tel-with-ext {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 350px;
  overflow: hidden;
  margin-bottom: 25px;
}
@media only screen and (max-width: 500px) {
  .tel-with-ext {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 250px;
  }
}
@media only screen and (max-width: 500px) {
  .tel-with-ext .tel__item + .tel__item {
    margin-top: 10px;
  }
}
.tel-with-ext label {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  display: block;
  width: 100%;
  text-align: left;
}
.tel-with-ext .tel__country-code {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;
  width: 30px;
  background-color: #F6F6F6;
  border: 1px solid #888B8D;
}
.tel-with-ext .tel__country-code span {
  font-size: 12px;
  color: #888B8D;
  position: relative;
  top: 0px;
}
.tel-with-ext input[type="tel"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0;
  border: 1px solid #888B8D;
  border-radius: 0;
  background-color: #FFFFFF;
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 35px;
  width: 240px;
}
@media only screen and (max-width: 500px) {
  .tel-with-ext input[type="tel"] {
    display: block;
    width: 250px;
  }
}
.tel-with-ext input[type="number"],
.tel-with-ext input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0;
  border: 1px solid #888B8D;
  border-radius: 0;
  background-color: #FFFFFF;
  font-size: 13px;
  padding: 8px;
  width: 100px;
}
@media only screen and (max-width: 500px) {
  .tel-with-ext input[type="number"],
  .tel-with-ext input[type="text"] {
    display: block;
    width: 250px;
  }
}
.email {
  width: 90%;
  display: block;
  margin-bottom: 25px;
  text-align: left;
}
@media only screen and (max-width: 500px) {
  .email {
    width: 100%;
  }
}
.email label {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  display: block;
  width: 100%;
  text-align: left;
}
.email input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #888B8D;
  border-radius: 0;
  background-color: #FFFFFF;
  font-size: 11px;
  padding: 10px 5px;
  width: 100%;
  display: block;
}
.error-message {
  color: #E35205;
  font-size: 13px;
  margin: 5px;
  display: none;
}
.error-message.is-active {
  display: block;
}
.hideable-form-element {
  display: block;
}
.hideable-form-element.is-hidden {
  display: none;
}
