.group {

  .header-row {
    max-width: 900px;
    width: 100%;
    margin-bottom: 18px;
  }

  .button.button--default {
    @media @portrait {
      font-size: 14px;
      padding: 12.5px 19px;
    }
  }

  .user-profile__table {
    max-width: 900px;
  }
}
