.help {
  .faqs {
    margin-top: 20px;
  }

  .faq {
    max-width: 900px;
    width: 100%;
    margin-bottom: 5px;
  }

  .faq__question {
    color: @medtronic-blue;
    font-size: 14px;
    font-weight: @font-weight-normal;
    &:hover {
      cursor: pointer;
    }

    .mi {
      font-size: 8px;
      margin-right: 4px;
      top: -0.7px;
    }
  }

  .faq__answer {
    color: @charcoal-gray;
    font-size: 13px;
    font-weight: @font-weight-normal;

    p {
      line-height: normal;
    }

    p + p {
      margin-top: 15px;
    }
  }
}
