.user-profile__row {
  .make-col-span(12);
  max-width: 100%;
  .flex-wrap(nowrap);
  .justify-content(space-between);

  @media @portrait {
    .flex-wrap(wrap);
  }

  .panel--50 {
    @media @portrait {
      .make-col-span(12);
      max-width: 100%;
    }
  }
}

.user-verification {
  margin-left: 100px;
  @media @portrait {
    margin-left: 0;
    width: 100%;
  }
}

.another-users-profile {
  max-width: 684px;
  width: 100%;
}

.user-profile__header {
  font-size: @font-size-h5;
  font-weight: @font-weight-bold;
  margin-bottom: 12px;

  span.main {
    display: block;
    font-size: @font-size-h5;
  }
  span.secondary {
    display: block;
    font-size: 12px;
    font-weight: @font-weight-normal;
  }
}

.header-row {
  .flex-wrap(nowrap);
  .justify-content(space-between);
  .align-items(flex-start);
  margin-bottom: 18px;
  margin-bottom: 18px;
}

.item-row {
  .make-col-span(12);
  .flex-wrap(nowrap);
  .justify-content(space-between);
  @media @portrait {
    .flex-wrap(wrap);
  }
}

.button.button--default,
.button.button--alt,
.button.button--phantom {
  @media @portrait {
    font-size: 14px;
    padding: 12.5px 19px;
  }
}

.user-profile__table {
  max-width: 684px;
  width: 100%;
}

.user-profile__element {
  .make-col-span(5.5);
  max-width: 45.83333333%;
  font-size: 16px;
  margin-bottom: 26px;
  @media @portrait {
    .make-col-span(12);
    max-width: 100%;
    font-size: 14px;
  }

  .key {
    font-weight: @font-weight-bold;
    text-transform: uppercase;
  }

  .value {
    display: block;
    font-weight: @font-weight-normal;
    text-transform: none;
  }

  .checkbox {
    margin-top: 10px;

    input,
    label {
      display: inline;
    }

    label {
      font-size: 11px;
    }
  }
}

.change-password {
  ul {
    list-style-type: disc;
  }

  li {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}

.list-header {
  font-size: 14px;
  margin-bottom: 15px;
}

.extra-verification {
  margin-top: 55px;
  width: 450px;
  @media @portrait {
    width: 100%;
  }
}

.verification__row {
  .flex-wrap(nowrap);
  .justify-content(space-between);
  .align-items(center);
  padding: 10px 0;
  border-bottom: 1px solid @charcoal-gray;
  &:last-child {
    border-bottom: 0 none;
  }

  .button {
    width: 100px;
    padding-left: unset;
    padding-right: unset;
    @media @portrait {
      width: 70px;
    }
  }
}

.button__row {
  margin-top: 45px;
  .user-profile__element {
    .button {
      width: 200px;
    }
    .button--phantom {
      .phantom-button(@medtronic-blue);
    }
  }
}

.cancel-edits {
  color: @medtronic-blue;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.modal-header__logo {
  height: 35px;
  margin-bottom: 30px;
  width: auto;
}

.modal-header__icon {
  margin-bottom: 15px;
  position: relative;
  span.sms {
    font-size: 12px;
    position: absolute;
    left: 178px;
    top: 26px;
    color: @light-blue;
    z-index: 2;
  }
  span.mi {
    font-size: 40px;
    border: 3px solid @light-gray;
    border-radius: 50%;
    padding: 15px;
    color: @medtronic-blue;
    background-color: @light-blue;
  }
}

.tel {
  width: 350px;
  @media @mobile {
    width: 250px;
  }

  label {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  input[type="tel"] {
    .box-size();
    display: inline-block;
    margin-left: 0;
    border: 1px solid @dark-gray;
    border-radius: 0;
    background-color: @white;
    font-size: 11px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 5px;
    padding-left: 35px;
    width: 200px;
    @media @mobile {
      width: 250px;
      display: block;
    }
  }

  .button.button--default {
    padding: 0;
    height: 40px;
    width: 140px;
    display: inline-block;
    float: right;
    @media @mobile {
      width: 100%;
      float: clear;
      display: block;
      margin-top: 25px;
      height: 52px;
    }
  }
}

.modal-body h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.modal-body__dropdown {
  .box-size();
  border: 1px solid @dark-gray;
  border-radius: 0;
  background-color: @white;
  font-size: 14px;
  padding: 9px 5px;
  width: 350px;
  @media @mobile {
    width: 250px;
  }
}

.tel__dropdown {
  position: relative;
  display: inline-block;
  float: left;
}

.tel__country-code {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;
  width: 30px;
  background-color: @off-white;
  border: 1px solid @dark-gray;
  span {
    font-size: 12px;
    color: @dark-gray;
    position: relative;
    top: 4px;
  }
}

.tel-with-ext {
  .flexbox();
  .flex-wrap(nowrap);
  .justify-content(space-between);
  .align-items(center);
  width: 350px;
  overflow: hidden;
  margin-bottom: 25px;
  @media @mobile {
    .flex-wrap(wrap);
    width: 250px;
  }


  @media @mobile {
    .tel__item + .tel__item {
      margin-top: 10px;
    }
  }


  label {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  .tel__country-code {
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: 0;
    width: 30px;
    background-color: @off-white;
    border: 1px solid @dark-gray;
    span {
      font-size: 12px;
      color: @dark-gray;
      position: relative;
      top: 0px;
    }
  }

  input[type="tel"] {
    .box-size();
    display: inline-block;
    margin-left: 0;
    border: 1px solid @dark-gray;
    border-radius: 0;
    background-color: @white;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 35px;
    width: 240px;
    @media @mobile {
      display: block;
      width: 250px;
    }
  }

  input[type="number"],
  input[type="text"] {
    .box-size();
    display: inline-block;
    margin-left: 0;
    border: 1px solid @dark-gray;
    border-radius: 0;
    background-color: @white;
    font-size: 13px;
    padding: 8px;
    width: 100px;
    @media @mobile {
      display: block;
      width: 250px;
    }
  }
}

.email {
  width: 90%;
  display: block;
  margin-bottom: 25px;
  text-align: left;
  @media @mobile {
    width: 100%;
  }

  label {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  input {
    .box-size();
    border: 1px solid @dark-gray;
    border-radius: 0;
    background-color: @white;
    font-size: 11px;
    padding: 10px 5px;
    width: 100%;
    display: block;
  }
}

.error-message {
  color: @orange;
  font-size: 13px;
  margin: 5px;
  display: none;
  &.is-active {
    display: block;
  }
}

.hideable-form-element {
  display: block;
  &.is-hidden {
    display: none;
  }
}
