// Base styles for MITG
// Includes Typography

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: @font-size-base;
  color: @charcoal-gray;
  line-height: @line-height-p;
}

html,
body {
  height: 100% !important;
}


@media only screen and (max-width: 767px) {
  body::-webkit-scrollbar {
      display: none;
      width: 0 !important;
      background-color: transparent;
  }
  body::-webkit-scrollbar-thumb {
      display: none;
      width: 0 !important;
      background-color: transparent;
  }
  body::-webkit-scrollbar-track {
      display: none;
      width: 0 !important;
      background-color: transparent;
  }
  body::-webkit-scrollbar-track-piece {
      display: none;
      width: 0 !important;
      background-color: transparent;
  }
}

h1, h2, h3, h4, h5, h6 {
  // Also: .h1, .h2, .h3, .h4, .h5, .h6
  // If these are needed also duplicate individual h1-h6 declarations below
  margin: 0;
  text-transform: none;

  h1 > p,
  h2 > p,
  h3 > p,
  h4 > p,
  h5 > p,
  h6 > p {
    margin: 0;
    text-transform: none;
  }
}


ul {
  margin-bottom: @margin-bottom-ul;  // 30px
  list-style-type: square;
}

li {
  font-size: @font-size-li;          // 16px
  line-height: @line-height-li;      // 20px
  font-weight: @font-weight-light;   // 400
  text-transform: none;
  margin-bottom: @margin-bottom-li;  // 15px
}

li > ul {
  margin-top: 1.875rem;
}

// Style for hyperlink within paragraph text
p > a {
  text-decoration: none;
  color: @medtronic-blue;
  font-weight: inherit;
}

p.disclaimer {
  font-size: 14px;
  padding-top: 10px;

  .mi {
    margin-right: 4px;
    font-size: 10px;
  }
}

.mi {
  position: relative;
  top: 1px;
  font-size: inherit;
}

button {
  overflow: hidden;
  white-space: normal;
}

button,
input[type="button"] {
  border-radius: 0;
}

// Style for Asset/Resource Link
// a > h6 {
//   .hover-link();
//   font-weight: 600;
//
//   &:hover {
//     > i { text-decoration: none !important; }
//   }
// }

// a > h5 {
//   .hover-link();
//
//   &:hover {
//     > i { text-decoration: none !important; }
//   }
// }
//
// // Also
// p > a > h6 {
//   .hover-link();
//   font-weight: 600;
//
//   &:hover {
//     > i { text-decoration: none !important; }
//   }
// }
//
// a:hover > i:hover {
//   text-decoration: none !important;
// }
//
// p i.mi.mi-video {
//   margin-right: 8px;
// }
//
// .icon--left {
//   margin-right: 6px;
// }
//
// .icon--right {
//   margin-left: 6px;
// }
//
// .font-weight-light {
//   font-weight: @font-weight-light;
// }
//
// .font-weight-reg {
//   font-weight: @font-weight-normal;
// }
//
// .font-weight-med {
//   font-weight: @font-weight-med;
// }
//
// .font-weight-bold {
//   font-weight: @font-weight-bold;
// }
//

// i {
//   text-decoration: none !important;
// }


// .mi {
//   display: inline-block;
//   font-size: inherit;
//   text-rendering: auto;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-decoration: none !important;
// }
