// Variables
//


// Colors
//
// Grayscale and brand colors for use across Medtronic sites.
// Medtronic Primary Blue color palette
@light-blue:        #B9D9EB;
@sky-blue:          #71C5E8;
@medium-blue:       #00A9E0;
@cobalt-blue:       #0085CA;
@medtronic-blue:    #004B87;
@navy-blue:         #001E46;
// Medtronic Primary Neutral color palette
@white:             #FFFFFF;
@pale-gray:         #E8E8E7;
@light-gray:        #B1B3B3;
@dark-gray:         #888B8D;
@blue-gray:         #5B7F95;
@charcoal-gray:     #515458;
// Medtronic Accent colors
@orange:            #E35205;
@light-orange:      #F7A800;
@yellow:            #FFCE00;
@green:             #77BC1F;
@turquoise:         #00c4B3;
@purple:            #B0008E;
// unofficial colors
@off-white:         #F6F6F6;
@black:             #000000;



// Options
//
// Quickly modify global styling by enabling or disabling optional features.

@enable-flex:               true;
@enable-rounded:            false;
@enable-grid-classes:       true;


// Spacing
//
@border-width:               1px;




// Media queries
@desktop:      ~"only screen and (max-width: 4000px)";
@laptop:       ~"only screen and (max-width: 1366px)";
@landscape:    ~"only screen and (max-width: 1024px)";
@portrait:     ~"only screen and (max-width: 768px)";
@mobile:       ~"only screen and (max-width: 500px)";

@grid-breakpoints: (
  xs: 0px,
  sm: 500px,
  md: 768px,
  lg: 1024px,
  xl: 1366px,
  xxl: 4000px
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

@grid-columns:                12;
@grid-gutter-width:           30px; // 30px


@grid-columns:               12;
@grid-gutter-width-base:     30px;
@grid-gutter-widths: (
  xs: @grid-gutter-width-base,
  sm: @grid-gutter-width-base,
  md: @grid-gutter-width-base,
  lg: @grid-gutter-width-base,
  xl: 50px
);


// Typography
//
// Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:       'Effra';
@font-family-base:            @font-family-sans-serif;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
// See 'Scales base font size on devices' in _typography.scss
@font-size-root:      16px;
@font-size-base:      1rem;
@font-size-medium:    0.9375rem; // 15px
@font-size-small:     0.875rem;  // 14px
@font-size-large:     1.125rem;

// ELEMENT DEFAULTS
@font-size-h1:        2.5rem;   // 40px
@font-size-h2:        2.25rem;  // 36px
@font-size-h3:        1.875rem; // 30px
@font-size-h4:        1.375rem; // 22px
@font-size-h5:        1.125rem; // 18px
@font-size-h6:        1rem;     // 16px
@font-size-p:         1rem;     // 16px
@font-size-li:        1rem;     // 16px
@font-size-button:    1rem;     // 16px

// SPECIFIC
@font-size-icon:         1.25rem;  // 20px
@font-size-btn:          0.9375rem;
@font-size-td:           13px;
@font-size-nav:          0.875rem; // 14px
@font-size-supertitle:   0.875rem;
@font-size-supernav:     0.75rem;
@font-size-ref:          0.75rem;
@font-size-disclaimer:   0.75rem;
@font-size-icon-text:    0.75rem;  // 12px
@font-size-icon-text-lg: 0.875rem;

// LINE HEIGHT DEFAULTS
@line-height-h1:      2.5rem;   // 40px
@line-height-h2:      2.25rem;  // 36px
@line-height-h3:      2.175rem; // 35px
@line-height-h4:      1.6rem;
@line-height-h5:      1.5rem;   // 24px
@line-height-h6:      1.25rem;  // 20px
@line-height-p:       1.6rem;
@line-height-li:      1.25rem;  // 20px
@line-height-button:  1rem;     // 16px
@line-height-td:      1.125rem; // 18px

@font-margin-b:       1.875rem; // 30px default

// TEXT MARGIN DEFAULTS
@margin-bottom-h1:         25px;
@margin-bottom-h2:         25px;
@margin-bottom-h3:         25px;
@margin-bottom-h4:         25px;
@margin-bottom-h5:         25px;
@margin-bottom-h6:         0.9375rem; // 30px or 15px ?
@margin-bottom-p:          25px;
@margin-bottom-ul:         1.875rem;  // 30px
@margin-bottom-li:         0.9375rem; // 15px
@margin-bottom-button:     25px;
@margin-bottom-disclaimer: 0.9375rem; // 15px

@font-margin:              1.5rem;

@margin-top-h2:            0.9375rem; // 15px
@margin-top-button:        5px;


@font-weight-bold:    600;
@font-weight-med:     500;
@font-weight-normal:  400;
@font-weight-light:   300;


// Components
//
@divider-height:  75px;
@divider-color:   @white;

@base-spacing:        1.5rem;



// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// @table-cell-padding:            .75rem;
// @table-sm-cell-padding:         .3rem;

// @table-bg:                      transparent;
// @table-bg-accent:               #f9f9f9;
// @table-bg-hover:                #f5f5f5;
// @table-bg-active:               @table-bg-hover;

@table-border-width:            @border-width;
@table-border-color:            @light-gray;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

@btn-padding:       20px 26px;
@btn-padding-top:   22px;
@btn-padding-left:  28px;
@btn-margin-top:    5px;
@btn-margin-btm:    25px;

// Z-Index
//
@z-index-video-icon:          4;
@z-index-statbox:             38;
@z-index-icon-toggle-sticky:  39;
@z-index-secondary-nav:       41;
@z-index-modal-bg:            1040;
@z-index-modal:               1050;
@z-index-searchbar:           1009;
@z-index-ad:                  1000;
@z-index-chatbot:             5 !important;


// Cards
@card-spacer-x:            1rem;
@card-spacer-y:            1rem;
@card-border-width:        0;
@card-border-radius:       0;
// @card-border-color:        #e5e5e5;
@card-border-radius-inner: 0;
// @card-cap-bg:              #f5f5f5;
@card-bg:                  @white;

@card-link-hover-color:    #fff;


// Modals
//
// Padding applied to the modal body
@modal-padding-dk:              85px 75px 60px 75px;
@modal-padding-tb:              70px 55px 45px 55px;
@modal-padding-mb:              60px 30px 35px 30px;

@modal-overlay-bg:           #000;
@modal-overlay-opacity:      0.75;

@modal-width:                   500px;

@popup-padding-dk:              70px 50px 45px 50px;
@popup-padding-tb:              70px 50px 45px 50px;
@popup-padding-mb:              60px 30px 35px 30px;

@popup-overlay-bg:              @white;

@popup-width:                   700px;
@popup-height:                  500px;
@popup-max-width:               95%;
