.container,
.container-fluid {
  margin: 0 auto;
  padding: 0;
}

.row {
  .make-row();
  .make-col-span(12);
  // .flexbox();
  // .flex-direction(row);
  // .flex-wrap(wrap);
}

.column {
  .flexbox();
  .flex-direction(column);
  .flex-wrap(nowrap);
  margin: 0;
  padding: 0;
}

.grid-container {
  .css-grid();
}

@media (max-width: 4000px) {
  .container {
    max-width: 4000px;
  }
}
@media (max-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}
