<!DOCTYPE html>
  <html class="no-js" lang="en">
  <head>

    <!-- Global Metas -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Group Screen</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS's -->
    <link rel="stylesheet" href="../../fonts/mitg/styles.css">
    <link rel="stylesheet" href="../../less/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"   integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="   crossorigin="anonymous"></script>

    <style>
      body {
        font-family: 'Effra', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
    </style>

  </head>
  <body>

    <section class="header">
      <img src="../../assets/medtronic-logo.png" alt="" class="header__logo">
    </section>

    <section class="screen group">
      <div class="row header-row">
        <h1 class="user-profile__header">{{Group Name}}</h1>
        <button type="button" class="button button--default">Add user(s)</button>
      </div>
      <table class="table user-profile__table">
        <tr>
          <th>User</th>
          <th>Dated Added</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td><a href="#">{{User firstname lastname}}</a></td>
          <td>MM/DD/YYYY</td>
          <td><a href="#">Remove User</a></td>
        </tr>
        <tr>
          <td><a href="#">{{User firstname lastname}}</a></td>
          <td>MM/DD/YYYY</td>
          <td><a href="#">Remove User</a></td>
        </tr>
        <tr>
          <td><a href="#">{{User firstname lastname}}</a></td>
          <td>MM/DD/YYYY</td>
          <td><a href="#">Remove User</a></td>
        </tr>
        <tr>
          <td><a href="#">{{User firstname lastname}}</a></td>
          <td>MM/DD/YYYY</td>
          <td><a href="#">Remove User</a></td>
        </tr>
      </table>
      <h2 class="user-profile__header">Applications this group has access to</h2>
      <div class="applications">
        <div class="application">
          <img src="../../assets/placeholder-icon.svg" alt="" class="application__icon">
          <span class="application__name">{{Application Name}}</span>
        </div>
        <div class="application">
          <img src="../../assets/placeholder-icon.svg" alt="" class="application__icon">
          <span class="application__name">{{Application Name}}</span>
        </div>
      </div>
    </section>

  </body>
</html>
