.applications {
  .flexbox();
  .flex-wrap(wrap);
  max-width: 900px;
  width: 100%;
}

.application {
  .box-size();
  .flexbox();
  .flex-wrap(nowrap);
  .flex-direction(column);
  .justify-content(space-between);
  .align-items(center);
  text-align: center;
  width: 190px;
  height: 167px;
  background-color: #d7d7d7;
  border-radius: 35px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 30px 10px;
  overflow: hidden;
  &:last-child {
    margin-right: 0;
  }
  @media @portrait {
    width: 160px;
    height: 141px;
    padding: 25px 10px 12.5px 10px;
  }
}

.application__icon {
  display: block;
  width: 72px;
  height: 64px;
  @media @portrait {
    width: 61px;
    height: 54px;
  }
}

.application__name {
  color: @medtronic-blue;
  font-size: 16px;
  font-weight: @font-weight-bold;
  line-height: 1.125em;
}
