.button {
  .dynamic-width-button();
}

.button--default {
  .solid-button(@white, @medtronic-blue, @sky-blue);
}

.button--alt {
  .ghost-button(@medtronic-blue, @white, @medtronic-blue);
  padding: 16px 32px;
}


// .close {
//   float: right;
//   font-size: (@font-size-base * 1.5);
//   font-weight: 500;
//   line-height: 1;
//   color: @light-gray;
//   text-shadow: none;
//   opacity: .2;
//
//   &:hover {
//     color: @dark-gray;
//     text-decoration: none;
//     cursor: pointer;
//     opacity: 1;
//   }
// }
//
// // Additional properties for button version
// // iOS requires the button element instead of an anchor tag.
// // If you want the anchor version, it requires `href="#"`.
// // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
// button.close {
//   padding: 0;
//   cursor: pointer;
//   background: transparent;
//   border: 0;
//   -webkit-appearance: none;
// }
