.form {
  &.personal-information__form {
    width: 100%;
  }
  &.change-password__form {
    width: 450px;
    @media @portrait {
      width: 100%;
    }
  }
}

.form__element {
  .flexbox();
  .flex-wrap(nowrap);
  .justify-content(space-between);
  .align-items(center);
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
    display: inline;
    @media @portrait {
      font-size: 13px;
    }
  }

  input {
    border: 1px solid @dark-gray;
    border-radius: 0;
    background-color: @white;
    font-size: 11px;
    padding: 10px 5px;
    width: 220px;
    display: inline;
    float: right;
  }

}

.change-password__form {
  @media @mobile {
    .form__element {
      input {
        width: 160px;
      }
    }
  }
}


.user-profile__element {
  input,
  select {
    .box-size();
    border: 1px solid @dark-gray;
    border-radius: 0;
    background-color: @white;
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
  }

  input[type="checkbox"] {
    padding: unset;
    width: unset;
  }

  input[type="submit"] {
    &.button--default {
      .solid-button(@white, @medtronic-blue, @sky-blue);
    }
  }
}
