.header {
  .component-reset();
  .flexbox();
  .flex-wrap(nowrap);
  .justify-content(space-between);
  .align-items(center);
  width: 100%;
  color: @white;
  background-color: @medtronic-blue;
  padding: 10px;
  position: relative;
}

.header__logo {
  height: 23px;
  width: auto;
  display: block;
}

.header-section {
  &:first-child {
    .make-col-span(7);
    @media @laptop {
      .make-col-span(6);
    }
    @media @portrait {
      .make-col-span(4);
    }
    @media @mobile {
      flex: 0 0 auto;
    }
  }
  &:last-child {
    .flexbox();
    .make-col-span(5);
    @media @laptop {
      .make-col-span(6);
    }
    @media @portrait {
      .make-col-span(8);
    }
    @media @mobile {
      flex: 1 1 auto;
    }
  }
}

.searchbar {
  // .make-col-span(7);
  background-color: @white;
  height: 35px;

  @media @mobile {
    width: 167px;
    height: 30px;
  }
  @media only screen and (max-width: 370px){
    width: 130px;
  }
  // width: 320px;
  // width: 300px;
  .search-icon {
    padding-left: 6px;
    width: 20px;
    color: @dark-gray;
    font-size: 18px;
    position: relative;
    top: 3px;
    z-index: 3;
    background-color: @white;
    @media @mobile {
      width: 20px;
      font-size: 13px;
      top: 1.5px;
    }
    @media only screen and (max-width: 370px){
      width: 15px;
      padding-left: 3px;
    }
  }
  input {
    .box-size();
    border: 0 none;
    width: 300px;
    height: 35px;
    @media @laptop {
      width: 260px;
    }
    @media @mobile {
      width: 137px;
      height: 30px;
    }
    @media only screen and (max-width: 370px){
      width: 108px;
    }
  }
}

.row.user {
  flex: 1 0 41.66666667%;
  .flex-wrap(nowrap);
  .justify-content(flex-end);
  .align-items(center);
  color: @white;
  @media @mobile {
    flex: 1 0 auto;
  }

  .user__icon {
    font-size: 24px;
    margin-right: 15px;
    @media @mobile {
      font-size: 18px;
      margin-right: 6px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .user__info {
    margin-right: 15px;
    @media @mobile {
      display: none;
    }
  }

  .username {
    display: block;
  }

  .usertype {
    display: block;
    font-size: 14px;
  }

  .menu-toggle {
    font-size: 30px;
    @media @mobile {
      font-size: 18px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.user__menu {
  display: none;
  position: absolute;
  top: 49px;
  right: 0;
  background-color: @medtronic-blue;
  list-style-type: none;
  padding: 25px 20px 15px 20px;
  width: 150px;
  z-index: 10000;
  margin-bottom: 0;
  text-align: right;
  @media @mobile {
    top: 43px;
  }
}

.user__menu li a {
  color: @white;
  font-size: 18px;
  font-weight: 400;
  &:hover {
    cursor: pointer;
    color: @white;
    text-decoration: underline;
  }
  &:visited {
    color: @white;
  }
}
