// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit


// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @z-index-modal;
  display: none;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  -webkit-overflow-scrolling: touch;
  width: auto;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -25%);
  }
  &.in .modal-dialog {
    transform: translate(0, 25%);
    @media @mobile {
      transform: translate(0, 0);
    }
  }

}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  // width: auto;
  margin: 10px;
  width: 450px;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: @white;
  background-clip: padding-box;
  border: 1px solid @dark-gray;
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  text-align: center;
  padding: 35px;
  // Remove focus outline from opened modal
  outline: 0;

  &.modal-content--tall {
    padding: 65px 35px;
    @media @mobile {
      padding: 50px 25px;
    }
  }
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @z-index-modal-bg;
  background-color: #000;

  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity: 0.5; }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  // padding: 15px;

  font-weight: 600;
  margin-bottom: 25px;
  border-bottom: 0 none;
  .clearfix();
  text-align: center;
}
// Close icon
// .modal-header .close {
//   margin-top: 0px;
// }

// Title text within header
.modal-title {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  // line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 25px;

  &.left-align {
    text-align: left;
  }
  &.center-align {
    text-align: center;
  }

  &.modal-body-sm {
    width: 250px;
  }

  input[type="text"] {
    .box-size();
    border: 1px solid @dark-gray;
    border-radius: 0;
    background-color: @white;
    font-size: 16px;
    padding: 15px 10px;
    width: 190px;
    margin: 0 auto;
  }
}

// Footer (for actions)
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // padding: $modal-inner-padding;
  text-align: center; // center align buttons
  // border-top: 1px solid $modal-footer-border-color;
  // .clearfix(); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  // .btn + .btn {
  //   margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  //   margin-left: 5px;
  // }
  // // but override that for button groups
  // .btn-group .btn + .btn {
  //   margin-left: -1px;
  // }
  // // and override it for block buttons as well
  // .btn-block + .btn-block {
  //   margin-left: 0;
  // }
  .button {
    display: block;
  }

  .button--default {
    display: block;
    width: 243px;
    height: 52px;
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    &:hover {
      background-color: @purple;
    }
    @media @mobile {
      width: 100%;
    }
  }

  .button--alt {
    display: block;
    width: 243px;
    height: 36px;
    font-size: 13px;
    padding: 0;
    &:hover {
      background-color: @purple;
    }
    @media @mobile {
      width: 100%;
    }
  }

  .button + .button {
    margin-top: 12px;
  }

  @media only screen and (max-width: 768px) {
    .button.button--default,
    .button.button--alt {
      padding: 0 0;
    }

    .button--default {
      font-size: 18px;
    }
    .button--alt {
      font-size: 13px;
    }
  }
}
// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// // Scale up the modal
@media @desktop {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: 450px;
    margin: 30px auto;
  }
  // .modal-content {
  //   @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  // }

  // Modal sizes
  // .modal-sm { width: $modal-sm; }
}

@media @mobile {
  .modal-dialog {
    max-width: 95%;
    width: auto;
  }
}

// @include media-breakpoint-up(md) {
//   .modal-lg { width: $modal-lg; }
// }
