.screen {
  .component-reset();
  padding: 80px 40px;
  // height: 100% !important;
  // width: 100%;
  color: @charcoal-gray;
  background-color: @off-white;
  @media @portrait {
    padding: 18px 18px;
  }
}

.screen__header {
  font-size: 18px;
  font-weight: @font-weight-bold;
  text-transform: none;
}
