@table-bg-color: @light-gray;
@table-border-color: @charcoal-gray;

table {
  max-width: 900px;
  width: 100%;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  overflow-x: auto;
  // @media @mobile {
  //   display: block;
  //   width: 100%;
  // }
}

thead,
tbody {
  width: 100% !important;
  margin: auto;
}

thead {
  background-color: @table-bg-color;
}

th,
td {
  font-size: @font-size-td;
  line-height: @line-height-td;
  border: @table-border-width solid @table-border-color;
  text-align: left;
  vertical-align: middle;
  @media @laptop {
    white-space: nowrap;
  }
 }

td {
  background-color: @white;
  > a {
    color: @medtronic-blue;
    text-decoration: none;
  }
}

th {
  background-color: #d7d7d7;
}


.user-profile__table {
  margin-bottom: 38px;
  @media only screen and (max-width: 376px) {
    display: block;
  }

  th {
    padding: 8px 16px;
    @media @portrait {
      padding: 8px 8px;
    }
  }
  td {
    padding: 5px 16px;
    @media @portrait {
      font-size: 12px;
      padding: 5px 8px;
    }
  }
}
