<!DOCTYPE html>
  <html class="no-js" lang="en">
  <head>

    <!-- Global Metas -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Profile Screen</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS's -->
    <link rel="stylesheet" href="../../fonts/mitg/styles.css">
    <link rel="stylesheet" href="../../less/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"   integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="   crossorigin="anonymous"></script>

    <style>
      body {
        font-family: 'Effra', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
    </style>

  </head>
  <body>

    <section class="header">
      <div class="header-section">
        <img src="../../assets/medtronic-logo.png" alt="" class="header__logo">
      </div>
      <div class="header-section">
        <div class="row user">
          <i class="mi mi-mitg-find-a-rep user__icon"></i>
          <p class="user__info"><span class="username">[Firstname]</span></p>
          <i class="mi mi-fa-caret-down menu-toggle" id="headerMenuToggle"></i>
        </div>
        <ul class="user__menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </div>
    </section>

    <section class="screen user-profile">
      <div class="row user-profile__row">
        <div class="panel panel--50">
          <form class="form personal-information__form" action="">
            <div class="personal-information">
              <div class="row header-row">
                <h1 class="user-profile__header">
                  <span class="main">Personal Information</span>
                  <span class="secondary hideable-form-element">All fields are required unless marked “optional.”</span>
                </h1>
                <button type="button" class="button button--default hideable-form-element" id="editPersonalInformation">Edit</button>
              </div>
              <div class="row item-row">
                <div class="user-profile__element">
                  <label for="firstname">
                    <span class="key">First name</span>
                    <span class="value hideable-form-element">{{Firstname}}</span>
                  </label>
                  <input class="hideable-form-element is-hidden" type="text" name="" id="" placeholder="First name">
                  <span class="error-message">This field is required</span>
                </div>
              </div>
              <div class="row item-row">
                <div class="user-profile__element">
                  <label for="lastname">
                    <span class="key">Last name</span>
                    <span class="value hideable-form-element">{{Lastname}}</span>
                  </label>
                  <input class="hideable-form-element is-hidden" type="text" name="" id="" placeholder="Last name">
                  <span class="error-message">This field is required</span>
                </div>
              </div>
              <div class="row item-row">
                <div class="user-profile__element">
                  <label for="emailaddress">
                    <span class="key">Email address (login)</span>
                    <span class="value hideable-form-element">{{email@email.com}}</span>
                  </label>
                  <input class="hideable-form-element is-hidden" type="email" name="" id="" placeholder="email@email.com">
                  <span class="error-message">This field is required</span>
                </div>
                <div class="user-profile__element">
                  <label for="additionalemailaddress" class="hideable-form-element">
                    <span class="key">Additional email</span>
                    <span class="value">{{email@email.com}}</span>
                  </label>
                  <label for="additionalemailaddress" class="hideable-form-element is-hidden">
                    <span class="key">Additional address (optional)</span>
                  </label>
                  <input class="hideable-form-element is-hidden" type="email" name="" id="" placeholder="email@email.com">
                </div>
              </div>
              <div class="row item-row">
                <div class="user-profile__element">
                  <label for="phonenumber" class="hideable-form-element">
                    <span class="key">Mobile phone</span>
                    <span class="value">XXX-XXX-XXXX</span>
                  </label>
                  <label for="phonenumber" class="hideable-form-element is-hidden">
                    <span class="key">Mobile phone (optional)</span>
                  </label>
                  <input class="hideable-form-element is-hidden" type="tel" name="" id="" placeholder="XXX-XXX-XXXX">
                  <span class="checkbox hideable-form-element is-hidden">
                    <input type="checkbox" id="" name="" value="">
                    <label for=""> Use as extra verification (sms message)</label><br>
                  </span>
                </div>
              </div>
              <div class="row item-row">
                <div class="user-profile__element">
                  <label for="country">
                    <span class="key">Country</span>
                    <span class="value hideable-form-element">{{Country}}</span>
                  </label>
                  <select class="hideable-form-element is-hidden" name="" id="">
                    <option disabled="" selected="" value=""></option>
                    <option value="AF" id="country_AF">Afghanistan</option>
                    <option value="AX" id="country_AX">Åland Islands</option>
                    <option value="AL" id="country_AL">Albania</option>
                    <option value="DZ" id="country_DZ">Algeria</option>
                    <option value="AS" id="country_AS">American Samoa</option>
                    <option value="AD" id="country_AD">Andorra</option>
                    <option value="AO" id="country_AO">Angola</option>
                    <option value="AI" id="country_AI">Anguilla</option>
                    <option value="AQ" id="country_AQ">Antarctica</option>
                    <option value="AG" id="country_AG">Antigua and Barbuda</option>
                    <option value="AR" id="country_AR">Argentina</option>
                    <option value="AM" id="country_AM">Armenia</option>
                    <option value="AW" id="country_AW">Aruba</option>
                    <option value="AU" id="country_AU">Australia</option>
                    <option value="AT" id="country_AT">Austria</option>
                    <option value="AZ" id="country_AZ">Azerbaijan</option>
                    <option value="BS" id="country_BS">Bahamas</option>
                    <option value="BH" id="country_BH">Bahrain</option>
                    <option value="BD" id="country_BD">Bangladesh</option>
                    <option value="BB" id="country_BB">Barbados</option>
                    <option value="BY" id="country_BY">Belarus</option>
                    <option value="BE" id="country_BE">Belgium</option>
                    <option value="BZ" id="country_BZ">Belize</option>
                    <option value="BJ" id="country_BJ">Benin</option>
                    <option value="BM" id="country_BM">Bermuda</option>
                    <option value="BT" id="country_BT">Bhutan</option>
                    <option value="BO" id="country_BO">Bolivia (Plurinational State of)</option>
                    <option value="BQ" id="country_BQ">Bonaire, Sint Eustatius and Saba</option>
                    <option value="BA" id="country_BA">Bosnia and Herzegovina</option>
                    <option value="BW" id="country_BW">Botswana</option>
                    <option value="BV" id="country_BV">Bouvet Island</option>
                    <option value="BR" id="country_BR">Brazil</option>
                    <option value="IO" id="country_IO">British Indian Ocean Territory</option>
                    <option value="BN" id="country_BN">Brunei Darussalam</option>
                    <option value="BG" id="country_BG">Bulgaria</option>
                    <option value="BF" id="country_BF">Burkina Faso</option>
                    <option value="BI" id="country_BI">Burundi</option>
                    <option value="KH" id="country_KH">Cambodia</option>
                    <option value="CM" id="country_CM">Cameroon</option>
                    <option value="CA" id="country_CA">Canada</option>
                    <option value="CV" id="country_CV">Cabo Verde</option>
                    <option value="KY" id="country_KY">Cayman Islands</option>
                    <option value="CF" id="country_CF">Central African Republic</option>
                    <option value="TD" id="country_TD">Chad</option>
                    <option value="CL" id="country_CL">Chile</option>
                    <option value="CN" id="country_CN">China</option>
                    <option value="CX" id="country_CX">Christmas Island</option>
                    <option value="CC" id="country_CC">Cocos (Keeling) Islands</option>
                    <option value="CO" id="country_CO">Colombia</option>
                    <option value="KM" id="country_KM">Comoros</option>
                    <option value="CG" id="country_CG">Congo</option>
                    <option value="CD" id="country_CD">Congo (Democratic Republic of the)</option>
                    <option value="CK" id="country_CK">Cook Islands</option>
                    <option value="CR" id="country_CR">Costa Rica</option>
                    <option value="CI" id="country_CI">Côte d'Ivoire</option>
                    <option value="HR" id="country_HR">Croatia</option>
                    <option value="CU" id="country_CU">Cuba</option>
                    <option value="CW" id="country_CW">Curaçao</option>
                    <option value="CY" id="country_CY">Cyprus</option>
                    <option value="CZ" id="country_CZ">Czech Republic</option>
                    <option value="DK" id="country_DK">Denmark</option>
                    <option value="DJ" id="country_DJ">Djibouti</option>
                    <option value="DM" id="country_DM">Dominica</option>
                    <option value="DO" id="country_DO">Dominican Republic</option>
                    <option value="EC" id="country_EC">Ecuador</option>
                    <option value="EG" id="country_EG">Egypt</option>
                    <option value="SV" id="country_SV">El Salvador</option>
                    <option value="GQ" id="country_GQ">Equatorial Guinea</option>
                    <option value="ER" id="country_ER">Eritrea</option>
                    <option value="EE" id="country_EE">Estonia</option>
                    <option value="ET" id="country_ET">Ethiopia</option>
                    <option value="FK" id="country_FK">Falkland Islands (Malvinas)</option>
                    <option value="FO" id="country_FO">Faroe Islands</option>
                    <option value="FJ" id="country_FJ">Fiji</option>
                    <option value="FI" id="country_FI">Finland</option>
                    <option value="FR" id="country_FR">France</option>
                    <option value="GF" id="country_GF">French Guiana</option>
                    <option value="PF" id="country_PF">French Polynesia</option>
                    <option value="TF" id="country_TF">French Southern Territories</option>
                    <option value="GA" id="country_GA">Gabon</option>
                    <option value="GM" id="country_GM">Gambia</option>
                    <option value="GE" id="country_GE">Georgia</option>
                    <option value="DE" id="country_DE">Germany</option>
                    <option value="GH" id="country_GH">Ghana</option>
                    <option value="GI" id="country_GI">Gibraltar</option>
                    <option value="GR" id="country_GR">Greece</option>
                    <option value="GL" id="country_GL">Greenland</option>
                    <option value="GD" id="country_GD">Grenada</option>
                    <option value="GP" id="country_GP">Guadeloupe</option>
                    <option value="GU" id="country_GU">Guam</option>
                    <option value="GT" id="country_GT">Guatemala</option>
                    <option value="GG" id="country_GG">Guernsey</option>
                    <option value="GN" id="country_GN">Guinea</option>
                    <option value="GW" id="country_GW">Guinea-Bissau</option>
                    <option value="GY" id="country_GY">Guyana</option>
                    <option value="HT" id="country_HT">Haiti</option>
                    <option value="HM" id="country_HM">Heard Island and McDonald Islands</option>
                    <option value="VA" id="country_VA">Holy See</option>
                    <option value="HN" id="country_HN">Honduras</option>
                    <option value="HK" id="country_HK">Hong Kong</option>
                    <option value="HU" id="country_HU">Hungary</option>
                    <option value="IS" id="country_IS">Iceland</option>
                    <option value="IN" id="country_IN">India</option>
                    <option value="ID" id="country_ID">Indonesia</option>
                    <option value="IR" id="country_IR">Iran (Islamic Republic of)</option>
                    <option value="IQ" id="country_IQ">Iraq</option>
                    <option value="IE" id="country_IE">Ireland</option>
                    <option value="IM" id="country_IM">Isle of Man</option>
                    <option value="IL" id="country_IL">Israel</option>
                    <option value="IT" id="country_IT">Italy</option>
                    <option value="JM" id="country_JM">Jamaica</option>
                    <option value="JP" id="country_JP">Japan</option>
                    <option value="JE" id="country_JE">Jersey</option>
                    <option value="JO" id="country_JO">Jordan</option>
                    <option value="KZ" id="country_KZ">Kazakhstan</option>
                    <option value="KE" id="country_KE">Kenya</option>
                    <option value="KI" id="country_KI">Kiribati</option>
                    <option value="KP" id="country_KP">Korea (Democratic People's Republic of)</option>
                    <option value="KR" id="country_KR">Korea (Republic of)</option>
                    <option value="KW" id="country_KW">Kuwait</option>
                    <option value="KG" id="country_KG">Kyrgyzstan</option>
                    <option value="LA" id="country_LA">Lao People's Democratic Republic</option>
                    <option value="LV" id="country_LV">Latvia</option>
                    <option value="LB" id="country_LB">Lebanon</option>
                    <option value="LS" id="country_LS">Lesotho</option>
                    <option value="LR" id="country_LR">Liberia</option>
                    <option value="LY" id="country_LY">Libya</option>
                    <option value="LI" id="country_LI">Liechtenstein</option>
                    <option value="LT" id="country_LT">Lithuania</option>
                    <option value="LU" id="country_LU">Luxembourg</option>
                    <option value="MO" id="country_MO">Macao</option>
                    <option value="MK" id="country_MK">Macedonia (the former Yugoslav Republic of)</option>
                    <option value="MG" id="country_MG">Madagascar</option>
                    <option value="MW" id="country_MW">Malawi</option>
                    <option value="MY" id="country_MY">Malaysia</option>
                    <option value="MV" id="country_MV">Maldives</option>
                    <option value="ML" id="country_ML">Mali</option>
                    <option value="MT" id="country_MT">Malta</option>
                    <option value="MH" id="country_MH">Marshall Islands</option>
                    <option value="MQ" id="country_MQ">Martinique</option>
                    <option value="MR" id="country_MR">Mauritania</option>
                    <option value="MU" id="country_MU">Mauritius</option>
                    <option value="YT" id="country_YT">Mayotte</option>
                    <option value="MX" id="country_MX">Mexico</option>
                    <option value="FM" id="country_FM">Micronesia (Federated States of)</option>
                    <option value="MD" id="country_MD">Moldova (Republic of)</option>
                    <option value="MC" id="country_MC">Monaco</option>
                    <option value="MN" id="country_MN">Mongolia</option>
                    <option value="ME" id="country_ME">Montenegro</option>
                    <option value="MS" id="country_MS">Montserrat</option>
                    <option value="MA" id="country_MA">Morocco</option>
                    <option value="MZ" id="country_MZ">Mozambique</option>
                    <option value="MM" id="country_MM">Myanmar</option>
                    <option value="NA" id="country_NA">Namibia</option>
                    <option value="NR" id="country_NR">Nauru</option>
                    <option value="NP" id="country_NP">Nepal</option>
                    <option value="NL" id="country_NL">Netherlands</option>
                    <option value="NC" id="country_NC">New Caledonia</option>
                    <option value="NZ" id="country_NZ">New Zealand</option>
                    <option value="NI" id="country_NI">Nicaragua</option>
                    <option value="NE" id="country_NE">Niger</option>
                    <option value="NG" id="country_NG">Nigeria</option>
                    <option value="NU" id="country_NU">Niue</option>
                    <option value="NF" id="country_NF">Norfolk Island</option>
                    <option value="MP" id="country_MP">Northern Mariana Islands</option>
                    <option value="NO" id="country_NO">Norway</option>
                    <option value="OM" id="country_OM">Oman</option>
                    <option value="PK" id="country_PK">Pakistan</option>
                    <option value="PW" id="country_PW">Palau</option>
                    <option value="PS" id="country_PS">Palestine, State of</option>
                    <option value="PA" id="country_PA">Panama</option>
                    <option value="PG" id="country_PG">Papua New Guinea</option>
                    <option value="PY" id="country_PY">Paraguay</option>
                    <option value="PE" id="country_PE">Peru</option>
                    <option value="PH" id="country_PH">Philippines</option>
                    <option value="PN" id="country_PN">Pitcairn</option>
                    <option value="PL" id="country_PL">Poland</option>
                    <option value="PT" id="country_PT">Portugal</option>
                    <option value="PR" id="country_PR">Puerto Rico</option>
                    <option value="QA" id="country_QA">Qatar</option>
                    <option value="RE" id="country_RE">Réunion</option>
                    <option value="RO" id="country_RO">Romania</option>
                    <option value="RU" id="country_RU">Russian Federation</option>
                    <option value="RW" id="country_RW">Rwanda</option>
                    <option value="BL" id="country_BL">Saint Barthélemy</option>
                    <option value="SH" id="country_SH">Saint Helena, Ascension and Tristan da Cunha</option>
                    <option value="KN" id="country_KN">Saint Kitts and Nevis</option>
                    <option value="LC" id="country_LC">Saint Lucia</option>
                    <option value="MF" id="country_MF">Saint Martin (French part)</option>
                    <option value="PM" id="country_PM">Saint Pierre and Miquelon</option>
                    <option value="VC" id="country_VC">Saint Vincent and the Grenadines</option>
                    <option value="WS" id="country_WS">Samoa</option>
                    <option value="SM" id="country_SM">San Marino</option>
                    <option value="ST" id="country_ST">Sao Tome and Principe</option>
                    <option value="SA" id="country_SA">Saudi Arabia</option>
                    <option value="SN" id="country_SN">Senegal</option>
                    <option value="RS" id="country_RS">Serbia</option>
                    <option value="SC" id="country_SC">Seychelles</option>
                    <option value="SL" id="country_SL">Sierra Leone</option>
                    <option value="SG" id="country_SG">Singapore</option>
                    <option value="SX" id="country_SX">Sint Maarten (Dutch part)</option>
                    <option value="SK" id="country_SK">Slovakia</option>
                    <option value="SI" id="country_SI">Slovenia</option>
                    <option value="SB" id="country_SB">Solomon Islands</option>
                    <option value="SO" id="country_SO">Somalia</option>
                    <option value="ZA" id="country_ZA">South Africa</option>
                    <option value="GS" id="country_GS">South Georgia and the South Sandwich Islands</option>
                    <option value="SS" id="country_SS">South Sudan</option>
                    <option value="ES" id="country_ES">Spain</option>
                    <option value="LK" id="country_LK">Sri Lanka</option>
                    <option value="SD" id="country_SD">Sudan</option>
                    <option value="SR" id="country_SR">Suriname</option>
                    <option value="SJ" id="country_SJ">Svalbard and Jan Mayen</option>
                    <option value="SZ" id="country_SZ">Swaziland</option>
                    <option value="SE" id="country_SE">Sweden</option>
                    <option value="CH" id="country_CH">Switzerland</option>
                    <option value="SY" id="country_SY">Syrian Arab Republic</option>
                    <option value="TW" id="country_TW">Taiwan</option>
                    <option value="TJ" id="country_TJ">Tajikistan</option>
                    <option value="TZ" id="country_TZ">Tanzania, United Republic of</option>
                    <option value="TH" id="country_TH">Thailand</option>
                    <option value="TL" id="country_TL">Timor-Leste</option>
                    <option value="TG" id="country_TG">Togo</option>
                    <option value="TK" id="country_TK">Tokelau</option>
                    <option value="TO" id="country_TO">Tonga</option>
                    <option value="TT" id="country_TT">Trinidad and Tobago</option>
                    <option value="TN" id="country_TN">Tunisia</option>
                    <option value="TR" id="country_TR">Turkey</option>
                    <option value="TM" id="country_TM">Turkmenistan</option>
                    <option value="TC" id="country_TC">Turks and Caicos Islands</option>
                    <option value="TV" id="country_TV">Tuvalu</option>
                    <option value="UG" id="country_UG">Uganda</option>
                    <option value="UA" id="country_UA">Ukraine</option>
                    <option value="AE" id="country_AE">United Arab Emirates</option>
                    <option value="GB" id="country_GB">United Kingdom of Great Britain and Northern Ireland</option>
                    <option value="US" id="country_US">United States of America</option>
                    <option value="UM" id="country_UM">United States Minor Outlying Islands</option>
                    <option value="UY" id="country_UY">Uruguay</option>
                    <option value="UZ" id="country_UZ">Uzbekistan</option>
                    <option value="VU" id="country_VU">Vanuatu</option>
                    <option value="VE" id="country_VE">Venezuela (Bolivarian Republic of)</option>
                    <option value="VN" id="country_VN">Viet Nam</option>
                    <option value="VG" id="country_VG">Virgin Islands (British)</option>
                    <option value="VI" id="country_VI">Virgin Islands (U.S.)</option>
                    <option value="WF" id="country_WF">Wallis and Futuna</option>
                    <option value="EH" id="country_EH">Western Sahara</option>
                    <option value="YE" id="country_YE">Yemen</option>
                    <option value="ZM" id="country_ZM">Zambia</option>
                    <option value="ZW" id="country_ZW">Zimbabwe</option>
                  </select>
                  <span class="error-message">This field is required</span>
                </div>
                <div class="user-profile__element">
                  <label for="language">
                    <span class="key">Language</span>
                    <span class="value hideable-form-element">{{Language}}</span>
                  </label>
                  <select class="hideable-form-element is-hidden" name="" id="">
                    <option value="0">Language</option>
                  </select>
                  <span class="error-message">This field is required</span>
                </div>
              </div>
              <div class="row">
                <p class="disclaimer"><span class="mi mi-btb-check"></span>Privacy policy text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Read more</a></p>
              </div>
              <div class="row button__row">
                <div class="user-profile__element">
                  <input type="submit" value="Save" class="button button--default hideable-form-element is-hidden"></input>
                  <button href="button" class="button button--phantom hideable-form-element is-hidden">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel panel--50">
          <div class="user-verification">
            <div class="change-password">
              <h2 class="user-profile__header">Password</h2>
              <p class="list-header">Password requirements:</p>
              <ul>
                <li>At least 8 characters</li>
                <li>A lowercase letter</li>
                <li>An uppercase letter</li>
                <li>A number</li>
              </ul>
              <form class="form change-password__form" action="">
                <div class="form__element">
                  <label for="currentPassword">Current password</label>
                  <input type="password" name="currentPassword">
                </div>
                <div class="form__element">
                  <label for="newPassword">New password</label>
                  <input type="password" name="newPassword">
                </div>
                <div class="form__element">
                  <label for="confirmNewPassword">Confirm new password</label>
                  <input type="password" name="confirmNewPassword">
                </div>
                <div class="spacer--30"></div>
                <input type="submit" value="Change password" class="button button--default">
              </form>
            </div>
            <div class="extra-verification">
              <h3 class="user-profile__header">Extra Verification</h3>
              <div class="row verification__row">
                <p>Okta Verify</p>
                <button class="button button--default">Set up</button>
              </div>
              <div class="row verification__row">
                <p>Security or Biometric Authenticator</p>
                <button class="button button--default">Set up</button>
              </div>
              <div class="row verification__row">
                <p>Google Authenticator</p>
                <button class="button button--alt">Remove</button>
              </div>
              <div class="row verification__row">
                <p>SMS Authentication</p>
                <button class="button button--default">Set up</button>
              </div>
              <div class="row verification__row">
                <p>Voice call Authentication</p>
                <button class="button button--default">Set up</button>
              </div>
              <div class="row verification__row">
                <p>Email Authentication</p>
                <button class="button button--alt">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      var editPersonalInformation = document.getElementById("editPersonalInformation");

      editPersonalInformation.addEventListener("click", function() {
        $(".hideable-form-element").toggleClass("is-hidden");
        $(this).addClass("is-hidden");
      });

      var headerMenuToggle = document.getElementById("headerMenuToggle");

      headerMenuToggle.addEventListener("click", function() {
        $(".user__menu").slideToggle(300);
      });


    </script>
  </body>
</html>
